<section class="categorias">
      <div class="contenedor">
        <h2 class="texto-centro">Categorias</h2>
        <a href="#">
          <div class="caja-3 contenedor-flotante">
            <img
              src="asset/imagenes//pizza.jpg"
              alt="Pizza"
              class="img-responsive img-redondeada"
            />
            <h3 class="texto-blanco texto-flotante">Pizza</h3>
          </div>
        </a>
        <a href="#">
          <div class="caja-3 contenedor-flotante">
            <img
              src="asset/imagenes//burger.jpg"
              alt="Burger"
              class="img-responsive img-redondeada"
            />
            <h3 class="texto-blanco texto-flotante">Burger</h3>
          </div>
        </a>
        <a href="#">
          <div class="caja-3 contenedor-flotante">
            <img
              src="asset/imagenes/momo.jpg"
              alt="Empanada"
              class="img-responsive img-redondeada"
            />
            <h3 class="texto-blanco texto-flotante">Empanada</h3>
          </div>
        </a>
        <div class="limpiar"></div>
      </div>
    </section>