<section class="footer">
      <div class="contenedor texto-centro">
        <p>
          &copy; Todos los derechos reservados. Diseñado por
          <a href="#">Carrera Software - ESPE</a>
        </p>
      </div>
    </section>