<section class="menu-platos">
      <div class="contenedor">
        <h2 class="texto-centro">Nuestros Platos</h2>
        <div class="menu-platos-item">
          <div class="img-menu">
            <img
              src="asset/imagenes//menu-pizza.jpg"
              alt="Pizza Francesa"
              class="img-responsive img-redondeada"
            />
          </div>
          <div class="desc-menu">
            <h4>Nombre Plato</h4>
            <p class="precio-plato">$3.50</p>
            <p class="desc-plato">Descripción Plato</p>
            <br />
            <a href="#" class="btn btn-principal">Ordenar</a>
          </div>
        </div>
        <div class="menu-platos-item">
          <div class="img-menu">
            <img
              src="asset/imagenes//menu-pizza.jpg"
              alt="Pizza Hawaiana"
              class="img-responsive img-redondeada"
            />
          </div>
          <div class="desc-menu">
            <h4>Nombre Plato</h4>
            <p class="precio-plato">$3.50</p>
            <p class="desc-plato">Descripción Plato</p>
            <br />
            <a href="#" class="btn btn-principal">Ordenar</a>
          </div>
        </div>
        <div class="menu-platos-item">
          <div class="img-menu">
            <img
              src="asset/imagenes//menu-pizza.jpg"
              alt="Pizza Pollo"
              class="img-responsive img-redondeada"
            />
          </div>
          <div class="desc-menu">
            <h4>Nombre Plato</h4>
            <p class="precio-plato">$3.50</p>
            <p class="desc-plato">Descripción Plato</p>
            <br />
            <a href="#" class="btn btn-principal">Ordenar</a>
          </div>
        </div>
        <div class="menu-platos-item">
          <div class="img-menu">
            <img
              src="asset/imagenes//menu-pizza.jpg"
              alt="Pizza de carne"
              class="img-responsive img-redondeada"
            />
          </div>
          <div class="desc-menu">
            <h4>Nombre Plato</h4>
            <p class="precio-plato">$3.50</p>
            <p class="desc-plato">Descripción Plato</p>
            <br />
            <a href="#" class="btn btn-principal">Ordenar</a>
          </div>
        </div>
        <div class="menu-platos-item">
          <div class="img-menu">
            <img
              src="asset/imagenes//menu-pizza.jpg"
              alt="Pizza Doble"
              class="img-responsive img-redondeada"
            />
          </div>
          <div class="desc-menu">
            <h4>Nombre Plato</h4>
            <p class="precio-plato">$3.50</p>
            <p class="desc-plato">Descripción Plato</p>
            <br />
            <a href="#" class="btn btn-principal">Ordenar</a>
          </div>
        </div>
        <div class="menu-platos-item">
          <div class="img-menu">
            <img
              src="asset/imagenes//menu-pizza.jpg"
              alt="Pizza"
              class="img-responsive img-redondeada"
            />
          </div>
          <div class="desc-menu">
            <h4>Nombre Plato</h4>
            <p class="precio-plato">$3.50</p>
            <p class="desc-plato">Descripción Plato</p>
            <br />
            <a href="#" class="btn btn-principal">Ordenar</a>
          </div>
        </div>
        <div class="limpiar"></div>
      </div>
    </section>