 <section>
      <div class="contenedor">
        <div class="logo">
          <img
            src="asset/imagenes/logo.png"
            alt="Logo Restaurant"
            class="img-responsive"
          />
        </div>
        <div class="menu texto-derecha">
          <ul>
            <li>
              <a href="#">Inicio</a>
            </li>
            <li>
              <a href="#">Conócenos</a>
            </li>
            <li>
              <a href="#">Platos</a>
            </li>
            <li>
              <a href="#">Contáctenos</a>
            </li>
          </ul>
        </div>
        <div class="limpiar"></div>
      </div>
    </section>